dist: focal
language: node_js
node_js:
- '16'
branches:
  only:
  - master
  - siu-deploy
jobs:
  include:
  - name: "check"
    script:
      - npm run check
  - name: "build"
    script:
      - npm run build
    deploy:
      provider: pages
      fqdn: suisiann.ithuan.tw
      skip_cleanup: true
      local_dir: build/
      github_token: ${GITHUB_TOKEN}
