.ui.form {
  margin-bottom: 1rem;
}
.ui.form textarea {
  font-size: 1.5rem;
  resize: none;
}
.ui.primary.button {
  margin: 10px 0;
}
a.ui.button {
  margin-right:13px;
}
a.ui.button {
  margin-top:10px;
}