@media only screen and (max-width: 767px) {
  .ui.stackable.buttons{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .ui.stackable.buttons > .button{
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid rgba(34,36,38,.15);
  }
}