@font-face {
  font-family: "MOEDICT";
  src: url(https://www.moedict.tw/MOEDICT.woff);
}

@font-face {
  font-family: "FiraSansOT";
  src: url(https://www.moedict.tw/fonts/FiraSansOT-Regular.woff);
}

body {
  font-family: "MOEDICT", "FiraSansOT", sans-serif;
  font-size: 100%;
  background: #f1efeb;
  margin: 0;
}

.app.background {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

.app > .main.container {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  align-content: flex-start;
}

.app.footer {
  background: #1b1c1d;
}

.app.footer .menu {
  justify-content: center;
}